.advertcontainer{
    padding-top: 0px;
    z-index: 0;
    animation: fade-slide-top .7s ease-in-out forwards;
}
.advert-img{
    width: 100%;
    /* object-fit: cover; */
    /* height: 180px; */
    cursor: pointer;
    animation: fade-in 2s ease-in-out forwards;
}
.food-container{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); 
    margin: 20px 35px;
}
.food-item{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    font-family: Raleway;
    text-align: center;
    transition: all 1s ease-in-out;
    background-color: darkgreen;
    box-shadow: 0px 0px 10px 3px gray;
    animation: fade-slide-right 1s ease-in-out forwards;
}
.food-item div{
    color: gold;
}
.food-item:hover{
    transform: scale(5.2);
    box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);
}
.food-item img{
    width: 140px;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.food-name{
    color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 135px;
}
.food-price{
    color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.food-button{
    width: 140px;
    height: 28px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    background: #FA9807;
    cursor: pointer;
}
.ordered-food-item{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    font-family: Raleway;
    text-align: center;
    transition: all 1s ease-in-out;
    background-color: darkgreen;
    box-shadow: 0px 0px 10px 3px gray;
    animation: fade-slide-right 1s ease-in-out forwards;
}
.ordered-food-item div{
    color: gold;
}
.ordered-food-item:hover{
    transform: scale(5.2);
    box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);
}
.ordered-food-item img{
    width: 140px;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ordered-food-name{
    color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 135px;
}
.ordered-food-price{
    color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ordered-container{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); 
    margin: 20px 35px;
}
@media screen and (min-width:200px){
    .advertcontainer{
        padding-top: 0px;
        animation: fade-slide-top .7s ease-in-out forwards;
    }
    .advert-img{
        /* width: 100%; */
        /* object-fit: cover; */
        /* height: 180px; */
        cursor: pointer;
        animation: fade-in 2s ease-in-out forwards;
    }
    .food-container{
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); 
        margin: 20px 35px;
    }
    .food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        text-align: center;
        transition: all 1s ease-in-out;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px gray;
        animation: fade-slide-right 1s ease-in-out forwards;
    }
    .food-item div{
        color: gold;
    }
    .food-item:hover{
        transform: scale(5.2);
        box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);
    }
    .food-item img{
        width: 220px;
        height: 180px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 135px;
    }
    .food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .food-button{
        width: 220px;
        height: 28px;
        border-radius: 5px;
        color: white;
        font-weight: 800;
        background: #FA9807;
        cursor: pointer;
    }
    .ordered-food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        text-align: center;
        transition: all 1s ease-in-out;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px lightblue;
        animation: fade-slide-right 1s ease-in-out forwards;
    }
    /* .food-item div{
        color: gold;
    } */
    .ordered-food-item:hover{
        transform: scale(-1.9);
        box-shadow: 0px 0px 10px 3px lightblue;
    }
    .ordered-food-item img{
        width: 220px;
        height: 180px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .ordered-food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 135px;
    }
    .ordered-food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ordered-container{
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); 
        margin: 20px 35px;
    }
}
@media screen and (min-width:300px){
    .advertcontainer{
        padding-top: 0px;
        animation: fade-slide-top .7s ease-in-out forwards;
    }
    .advert-img{
        /* width: 100%; */
        /* object-fit: cover; */
        /* height: 180px; */
        cursor: pointer;
        animation: fade-in 2s ease-in-out forwards;
    }
    .food-container{
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); 
        margin: 20px 35px;
    }
    .food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        text-align: center;
        transition: all 1s ease-in-out;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px gray;
        animation: fade-slide-right 1s ease-in-out forwards;
    }
    .food-item div{
        color: gold;
    }
    .food-item:hover{
        transform: scale(5.2);
        box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);
    }
    .food-item img{
        width: 140px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 135px;
    }
    .food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .food-button{
        width: 140px;
        height: 28px;
        border-radius: 5px;
        color: white;
        font-weight: 800;
        background: #FA9807;
        cursor: pointer;
    }
    .ordered-food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        text-align: center;
        transition: all 1s ease-in-out;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px lightblue;
        animation: fade-slide-right 1s ease-in-out forwards;
    }
    /* .food-item div{
        color: gold;
    } */
    .ordered-food-item:hover{
        transform: scale(-1.9);
        box-shadow: 0px 0px 10px 3px lightblue;
    }
    .ordered-food-item img{
        width: 140px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .ordered-food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 135px;
    }
    .ordered-food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ordered-container{
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); 
        margin: 20px auto;
        
    }
}

@media screen and (min-width:390px){
    .advertcontainer{
        padding-top: 0px;
        
    }
    .advert-img{
        /* width: 100%; */
        /* object-fit: cover; */
        /* height: 200px; */
        cursor: pointer;
    }
    .food-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(140px,2fr));
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 32px;
    }
    .food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        color: white;
        text-align: center;
        transition: transform .3s;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px gray;
    }
    .food-item:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);;
        border: 1px solid;
        border-bottom: 10px;
    }
    .food-item img{
        width: 150px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .food-button{
        width: 90%;
        height: 28px;
        border-radius: 10px;
        background: #FA9807;
        color: white;
        font-weight: 800;
        cursor: pointer;
    }
    .ordered-food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        color: white;
        text-align: center;
        transition: transform .3s;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px lightblue;
    }
    .ordered-food-item:hover{
        transform: scale(-1.9);
        box-shadow: 0px 0px 10px 3px lightblue;
        border: 1px solid;
        border-bottom: 10px;
    }
    .ordered-food-item img{
        width: 150px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .ordered-food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .ordered-food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ordered-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(140px,2fr));
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 32px;
    }
}

@media screen and (min-width:540px){
    .advertcontainer{
        padding-top: 0px;
        /* height: 355px; */
    }
    .advert-img{
        /* width: 100%; */
        /* object-fit: cover; */
        /* height: 270px; */
        cursor: pointer;
    }
    .food-container{
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
        justify-content: space-evenly;
        align-self: center;
        margin: 10px 0px;
        width: 100%;  
        align-content: center;
    }
    .food-item{
        width: fit-content;
        height: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-family: Raleway;
        color: white;
        text-align: center;
        transition: transform .3s;
        margin-top: 10px;
        margin-bottom: 35px;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px gray;
    }
    .food-item:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);
        border: 1px solid;
        border-bottom: 10px;
    }
    .food-item img{
        width: 170px;
        height: 130px;
    }
    .food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 168px;
    }
    .food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .food-button{
        width: 90%;
        
        border-radius: 10px;
        background: #FA9807;
        color: white;
        font-weight: 800;
        cursor: pointer;
    }
    .ordered-food-item{
        width: fit-content;
        height: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-family: Raleway;
        color: white;
        text-align: center;
        transition: transform .3s;
        margin-top: 10px;
        margin-bottom: 35px;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px lightblue;
    }
    .ordered-food-item:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 3px lightblue;
        border: 1px solid;
        border-bottom: 10px;
    }
    .ordered-food-item img{
        width: 170px;
        height: 130px;
    }
    .ordered-food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 168px;
    }
    .ordered-food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ordered-container{
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
        justify-content: space-evenly;
        align-self: center;
        margin: 10px 0px;
        width: 100%;  
        align-content: center;
    }
}

@media screen and (min-width:900px){
    .advertcontainer{
        /* display: flex;
        justify-content: center;
        padding-top: 0px;
        height: fit-content;
        position: relative;
        border: 3px solid red; */
    }
    .advert-img{
        /* width: 100%;
        object-fit: cover;
        height: fit-content;
        cursor: pointer;
        margin-top: 0px; */
    }
    .food-container{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
        justify-content: space-evenly;
        margin: 90px 80px;
        margin-top: 2px;
        width: 100%;
        /* border: 3px solid red; */
        
    }
    .food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        color: white;
        text-align: center;
        transition: transform .3s;
        margin: 0px 5px;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px gray;
        /* display: flex;
        flex-direction: column;
        justify-content: end; */
    }
    .food-item div{
        color: gold;
        padding-bottom: 5px;
    }
    .food-item:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 3px rgb(2, 121, 22);
        /* border: 0px solid; */
        border-bottom: 10px;
    }
    .food-item img{
        width: 190px;
        height: 131px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition: transform .9s;
    }
    
    .food-item div{
        margin-bottom: 0px;
    }
    
    .food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .food-button{
        width: 90%;
        height: 33px;
        border-radius: 10px;
        background: #FA9807;
        color: white;
        font-weight: 900;
        cursor: pointer;
    }
    .ordered-food-item{
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        font-family: Raleway;
        color: white;
        text-align: center;
        transition: transform .3s;
        margin: 0px 5px;
        background-color: darkgreen;
        box-shadow: 0px 0px 10px 3px lightblue;
        /* display: flex;
        flex-direction: column;
        justify-content: end; */
    }
    .ordered-food-item div{
        color: gold;
        padding-bottom: 5px;
    }
    .ordered-food-item:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 3px lightblue;
        border: 10px solid;
        border-bottom: 10px;
    }
    .ordered-food-item img{
        width: 190px;
        height: 131px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition: transform .9s;
    }
    
    /* .food-item div{
        margin-bottom: 0px;
    } */
    
    .ordered-food-name{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .ordered-food-price{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    /* .ordered-container{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
        justify-content: space-evenly;
        margin: 90px 80px;
        width: 100%;
    } */
}