#admin-nav-image-container{
    position: fixed;
    /* border: 2px solid rgb(11, 0, 128); */
    background-color: green;
    margin: auto 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px gray;
}
#admin-nav-image-container p{
    color: white;
    font-size: 80%;
}
#admin-nav-image-container img{
    margin: 5px;
}
#admin-nav{
    display: flex;
    flex-direction: column;
    /* border: 3px solid rgb(218, 9, 54); */
}
#admin-nav a{
    /* border: 3px solid #310bef; */
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;

    &:hover{
        background-color: white;
        border-radius: 10px;
        color: black;
    }
}
#admin-sign-out-container{
    background-color: white;
    border-radius: 10PX;
    opacity: 80%;
    margin-top: 10%;
    padding: 50px 10%;
    /* margin-top: 40px; */
}
#admin-sign-out-container a{
    background-color: blue;
    text-decoration: none;
    opacity: 200%;
    color: white;
    /* bottom: 0px; */
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 980px) {
    #admin-nav-image-container{
        display: flex;
        justify-content: space-between;
        /* border: 3px solid rgb(6, 6, 233); */
        background-color: green;
        margin: auto 10px;
        border-radius: 10px;
        position: fixed;
        bottom: 0px;
        /* top: 93%; */
        right: 0px;
        left: 0px;
        height: 40px;
        /* width: 100%; */
    }
    #admin-nav-image-container p{
        display: none;
        color: white;
        font-size: 80%;
    }
    #admin-nav-image-container img{
        display: none;
        margin: 5px;
    }
    #admin-nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        /* border: 3px solid rgb(218, 9, 54); */
    }
    #admin-nav a{
        /* border: 3px solid #310bef; */
        background-color: transparent;
        color: white;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
        font-size: 70%;
    
        &:hover{
            background-color: white;
            border-radius: 10px;
            color: black;
        }
    }
    #admin-sign-out-container{
        background-color: white;
        border-radius: 10PX;
        opacity: 80%;
        margin-top: 0%;
        padding: 0px 0px;
        /* margin-top: 40px; */
    }
    #admin-sign-out-container a{
        /* background-color: rgb(124, 250, 115); */
        text-decoration: none;
        opacity: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70%;
    }
}
@media screen and (max-width: 361px) {
    #admin-sign-out-container a{
        /* background-color: rgb(124, 250, 115); */
        font-size: 50%;
    }
    #admin-nav a{
        /* border: 3px solid #310bef; */
        font-size: 50%;
    }
}
@media screen and (max-width: 283px) {
    #admin-sign-out-container a{
        /* background-color: rgb(124, 250, 115); */
        font-size: 30%;
        height: 100%;
        
    }
    #admin-nav a{
        /* border: 3px solid #310bef; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30%;
    }
}