.searchcontainer{
    background-color: white;
    /* position: relative; */
    /* border: 3px solid red; */
}
.vendor-SearchbarContainer{
    text-align: center;
    margin-top: 1px;
    /* border: 1px solid green; */
}

.vendor-SearchbarContainer input{
    /* border: 1px solid green; */
    width: 180px;
    height: 25px;
    border-radius: 10px;
    /* background-color: white; */
    color: darkgreen;
    padding: 0px 10px;
    box-shadow: 2px 3px 9px  rgba(0, 0, 0, 0.45);
}
.SearchbarContainer input:focus{
    /* outline: none; */
    /* animation: fade-slide-top .7s ease-in-out forwards; */
}

.fiterandfoodcontainer{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:390px){
    .searchcontainer{
        background: white;
    }
    .SearchbarContainer{
        text-align: center;
        position: sticky;
        top: 55px;
        z-index: 200;
    }
    .SearchbarContainer input{
        width: 200px;
        height: 25px;
        border-radius: 10px;
        background-color: white;
        color: darkgreen;
        padding: 0px 10px;
        border: none;
        box-shadow: 2px 3px 5px  rgba(0, 0, 0, 0.45);
    }
}

@media screen and (min-width:540px){
    .searchcontainer{
        background: white;
    }
    .SearchbarContainer{
        text-align: center;
        position: sticky;
        top: 55px;
        z-index: 200;
        
    }
    .SearchbarContainer input{
        width: 400px;
        height: 25px;
        border-radius: 10px;
        background-color: white;
        color: darkblue;
        padding: 0px 10px;
        border: none;
    }
    .fiterandfoodcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media screen and (min-width:900px){
    .searchcontainer{
        background: white;
        /* position: relative; */
    }
    .vendor-SearchbarContainer{
        text-align: center;
        /* position: sticky; */
        top: 75px;
        /* z-index: 4; */
        /* border: 1px solid green; */
    }
    .vendor-SearchbarContainer input{
        /* border: 1px solid red; */
        text-align: center;
        width: 400px;
        height: 25px;
        border-radius: 10px;
        background-color: white;
        color: darkgreen;
        padding: 0px 10px;
        border: none;
        top: 60px;
        box-shadow: 2px 3px 5px  rgba(0, 0, 0, 0.45);
    }
    .fiterandfoodcontainer{
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        
    }
}




