.profileContainer{
    color: darkgreen;
    margin: 5px 10px;
}

.profile-toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(249, 243, 235);
    padding-top: 80px;
}
.profile-toggle-information{
    font-weight: bold;
    display: flex;
    gap: 20px;
    border: 1px solid orange;
}
.profile-toggle-information img{
    border: 1px solid darkgreen;
    border-radius: 100%;
    width: 100px;
    margin-left: 5px;
}
.information-name{
    /* border: 3px solid red; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.information-email{
    /* border: 3px solid red; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.information-phoneNumb{
    /* border: 3px solid red; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-toggle-container{
    display: flex;
    /* border: 3px solid red; */
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: -5px -0.1px 10px 2px rgb(170, 242, 178);
    z-index: 1;
}
.profile-toggle-container div{
    cursor: pointer;
    /* border: 3px solid yellow; */
    width: 100%;
    height: fit-content;
}
.profile-toggle-container div:hover{
    color: orange;
}
.profile-toggle-container a{
    cursor: pointer;
    /* border: 3px solid yellow; */
    text-decoration: none;
    width: 100%;
}
#buttom-toggle-icons{
    font-size: 130%;
}
.profile-toggle-container div p{
    cursor: pointer;
    /* border: 3px solid green; */
    text-align: center;
    font-size: 55%;
    margin: 5px 0px;
}

.passport_update img{
    border-radius: 100%;
    max-width: 50px;
    max-height: 50px;
}
#update-photo-button{
    padding: 0px 10px;
    height: 30px;
    margin: 4px;
    border-radius: 10px;
    background-color: green;
    color: white;
}
.edit-form-container{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.edit-form-container form{
    width: 100%;
    text-align: left;
}
.edit-form-container form label{
    font-size: 16px;
    justify-self: left;
}
.edit-form-container form input{
    /* width: 100%; */
    height: 40px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}
#update-button{
    background-color: green;
    color: white;
    padding: 10px 0px;
    width: 100%;
    font-weight: bolder;
    border-radius: 5px;
}

.passport_update{
    /* border: 3px solid green; */
    display: flex;
    width: 100%;
}
.passport_update div{
    width: fit-content;
    /* border: 3px solid green; */
}
#profile-welcome{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
}


#delete-button{
    background-color: red;
    color: white;
    padding: 5px 20px;
    margin: 0px 10px;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 5px;
}

@media screen and (min-width:900px){
    .profileContainer{
        color: darkgreen;
        margin: 5px 200px;
    }
}