.store-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.app-store-logo-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
h1{
    font-family: Raleway;
    font-size: 100%;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.store-container p{
    font-family: Raleway;
    font-size: 80%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* width: 300px; */
}
.store{
    display: flex;
    justify-content: center;
    background-color: black;
    color:  #FFF;
    /* width: 135px; */
    padding: 5px 10px;
    gap: 2px;
    font-family: Raleway;
    border-radius: 15px;
    /* border: 3px solid red; */
}
.store h4{
    font-family: Raleway;
    font-size: 70%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.store img{
    width: 30%;
}


@media screen and (min-width:1000px){
    .store-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .app-store-logo-container{
        display: flex;
        justify-content: center;
        gap: 22px;
    }
    h1{
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .store-container p{
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .store{
        display: flex;
        justify-content: center;
        background-color: black;
        color:  #FFF;
        width: 306px;
        padding: 3px 17px;
        align-items: center;
        gap: 19px;
        font-family: Raleway;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 30px;
    }
    .store h4{
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .store img{
        width: 50px;
    }
}