.cartContainer{
    display: flex;
    color: white;
    margin: 0px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 270px;
}

.cartContainer img{
    width: 15px;
    height: 15px;
}
.carttext{
    margin: 0px;
    text-align: center;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration-line: none;
}


.goback{
    color: #DA722C;
    text-align: left;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cartdisplay-items-container{
    position: absolute;
    z-index: 2;
    top: 0px;
    left:   0px;
    font-size: 50px;
    background: #FFF;
    width: 375px;
    color: black;
    text-align: center;
}
.cartdisplay-container{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.cart-transprent-background{
    position: relative;
    z-index: 1;
    background-color: black;
    width: 375;
    height: 750px;
    opacity: 0.4;
    position: fixed;
}
.cartdisplay-items-container input{
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #f7eae2;
}
.cartdisplay-items-container form label{
    font-size: 15px;
    margin-right: 5px;
}
.cartdisplay-items-container form input{
    font-size: 15px;
    height: 8px;
}
.promo-button{
    background-color: darkblue;
    color: white;
    cursor: pointer;
    font-family: Raleway;
    font-size: 14px;
    width: auto;
    height: auto;
    padding: 2px 9px;
    border-radius: 10px;
}
.promo-input{
    background-color: #f7eae2;
}
.checkoutButton{
    background-color: darkblue;
    color: white;
    width: auto;
    height: auto;
    padding: 3px 20px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    cursor: pointer;
}
.cart-back-arrow{
    display: flex;
    margin-left: 10px;
    cursor: pointer;
}
.cart-selections-title{
    color: darkblue;
    text-align: center;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.amount-main-container{
    display: flex;
    justify-content: center;
    gap: 00px;
    padding: 0px;
}
.amount-title-container{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left:0px;
}
.amount-title-container p{
    margin: 0px;
    padding: 5px 0px;
    text-align: left;
    width: 90px;
    color: green;
    font-size: small;
    font-family: Raleway;
}
.amount-container{
    display: flex;
    flex-direction: column;
    margin-right:0px;
    font-size: small;
    font-family: Raleway;
}
.amount-container p{
    margin: 0px;
    padding: 5px 0px;
    text-align: left;
    width: 90px;
    color: green;
    text-align: right;
}
.cart-toggle-container{
    display: flex;
    gap: 100px;
    margin: 60px 0px;
    justify-content: center;
    
}
.cart-toggle-cart-in{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 100%;
    background-color: lightblue;
    cursor: pointer;
}
.cart-toggle-checkout-out{
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer
}
.cart-toggle-cart-out{
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer
}
.cart-toggle-chechout-in{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 100%;
    background-color: lightblue;
    cursor: pointer;
}


.increaseCartNumb{
    width: 22px;
    height: 66px;
    background-color: #DA722C;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: darkblue;
}
.increaseNumb{
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    color: white;
}
.increaseBtn{
    cursor: pointer;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: darkblue;
    margin: 0px;
    padding: 1px;
    color: white;
}
.foodcartMapped{
    display: flex;
    background: #D9D9D9;
    box-shadow: 0px 0px 20px 0px #DA722C;
    margin: 5px 10px;
    gap: 15px;
    border-color: darkblue;
    border-radius: 10px;
}
.foodcartInfomation{
    display: flex;
    width: fit-content;
    margin-top: 7.5px;
}
.foodcartInfomation p{
    margin-left: 20px;
    width: 100px;
    font-family: raleway;
    font-size: 11px;
    color: darkblue;
}
.foodcartMappedImage{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.foodcartMappedAmount{
    font-size: 13px;
    font-family: raleway;
    color: darkblue;
}
.Xbutton{  
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    margin-right: 10px;
    
}
label{
    font-size: 20px;
}
form input{
    text-align: center;
    border: 1px solid;
    border-color: #DA722C;
}

@media screen and (min-width:390px){
    .cartContainer{
        display: flex;
        color: white;
        margin: 0px;
        position: fixed;
        z-index: 1;
        top: 10px;
        left: 270px;
    }
    
    .cartContainer img{
        width: 15px;
        height: 15px;
    }
    .carttext{
        margin: 0px;
        text-align: center;
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-decoration-line: none;
    }
    
    
    .goback{
        color: #DA722C;
        text-align: left;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .cartdisplay-items-container{
        position: absolute;
        z-index: 2;
        top: 0px;
        left:   0px;
        font-size: 50px;
        background: #FFF;
        width: 390px;
        color: black;
        text-align: center;
    }
    .cartdisplay-container{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100;
    }
    .cart-transprent-background{
        position: relative;
        z-index: 1;
        background-color: black;
        width: 375;
        height: 750px;
        opacity: 0.4;
        position: fixed;
    }
    .cartdisplay-items-container input{
        border-radius: 10px;
        width: auto;
        height: auto;
        padding: 5px;
        background-color: #f7eae2;
    }
    .cartdisplay-items-container form label{
        font-size: 15px;
        margin-right: 5px;
    }
    .cartdisplay-items-container form input{
        font-size: 15px;
        height: 8px;
    }
    .promo-button{
        background-color: darkblue;
        color: white;
        cursor: pointer;
        font-family: Raleway;
        font-size: 14px;
        width: auto;
        height: auto;
        padding: 2px 9px;
        border-radius: 10px;
    }
    .promo-input{
        background-color: #f7eae2;
    }
    .checkoutButton{
        background-color: darkblue;
        color: white;
        width: auto;
        height: auto;
        padding: 3px 20px;
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 10px;
        cursor: pointer;
    }
    .cart-back-arrow{
        display: flex;
        margin-left: 10px;
        cursor: pointer;
    }
    .cart-selections-title{
        color: darkblue;
        text-align: center;
        font-family: Raleway;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .amount-main-container{
        display: flex;
        justify-content: center;
        gap: 00px;
        padding: 0px;
    }
    .amount-title-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-left:0px;
    }
    .amount-title-container p{
        margin: 0px;
        padding: 5px 0px;
        text-align: left;
        width: 90px;
        color: green;
        font-size: small;
        font-family: Raleway;
    }
    .amount-container{
        display: flex;
        flex-direction: column;
        margin-right:0px;
        font-size: small;
        font-family: Raleway;
    }
    .amount-container p{
        margin: 0px;
        padding: 5px 0px;
        text-align: left;
        width: 90px;
        color: green;
        text-align: right;
    }
    .cart-toggle-container{
        display: flex;
        gap: 100px;
        margin: 60px 0px;
        justify-content: center;
        
    }
    .cart-toggle-cart-in{
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 100%;
        background-color: lightblue;
        cursor: pointer;
    }
    .cart-toggle-checkout-out{
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer
    }
    .cart-toggle-cart-out{
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer
    }
    .cart-toggle-chechout-in{
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 100%;
        background-color: lightblue;
        cursor: pointer;
    }
    
    
    .increaseCartNumb{
        width: 22px;
        height: 66px;
        background-color: #DA722C;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        color: darkblue;
    }
    .increaseNumb{
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px;
        color: white;
    }
    .increaseBtn{
        cursor: pointer;
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: darkblue;
        margin: 0px;
        padding: 1px;
        color: white;
    }
    .foodcartMapped{
        display: flex;
        background: #D9D9D9;
        box-shadow: 0px 0px 20px 0px #DA722C;
        margin: 5px 10px;
        gap: 15px;
        border-color: darkblue;
        border-radius: 10px;
    }
    .foodcartInfomation{
        display: flex;
        width: fit-content;
        margin-top: 7.5px;
    }
    .foodcartInfomation p{
        margin-left: 20px;
        width: 100px;
        font-family: raleway;
        font-size: 11px;
        color: darkblue;
    }
    .foodcartMappedImage{
        width: 50px;
        height: 50px;
        margin-top: 5px;
    }
    .foodcartMappedAmount{
        font-size: 13px;
        font-family: raleway;
        color: darkblue;
    }
    .Xbutton{  
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        margin-right: 10px;
        
    }
    label{
        font-size: 20px;
    }
    form input{
        text-align: center;
        border: 1px solid;
        border-color: #DA722C;
    }
}


@media screen and (min-width:900px){
    .cartContainer{
        display: flex;
        color: #FFF;
        margin: 0px;
        position: fixed;
        z-index: 100;
        left: 1200px;
    }

    .cartContainer img{
        width: 25px;
        height: 25px;
    }
    .carttext{
        margin: 0px;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-decoration-line: none;
    }


    .goback{
        color: #DA722C;
        text-align: left;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .cartdisplay-items-container{
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 410px;
        font-size: 50px;
        background: #FFF;
        width: 700px;
        color: black;
        text-align: center;
    }
    .cartdisplay-container{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100;
    }
    .cart-transprent-background{
        position: relative;
        z-index: 1;
        background-color: black;
        width: 1519px;
        height: 750px;
        opacity: 0.4;
        position: fixed;
    }
    .cartdisplay-items-container input{
        border-radius: 10px;
        width: 200px;
        height: 35PX;
        background-color: #f7eae2;
        border: none;
    }
    .promo-button{
        background-color: darkblue;
        color: white;
        cursor: pointer;
        font-family: Raleway;
        font-size: 17px;
        width: 204px;
        height: 38px;
        border-radius: 10px;
    }
    .promo-input{
        background-color: #f7eae2;
    }
    .checkoutButton{
        background-color: darkblue;
        color: white;
        width: 400px;
        height: 38px;
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border-radius: 10px;
        cursor: pointer;
    }
    .cart-back-arrow{
        display: flex;
        margin-left: 40px;
        cursor: pointer;
    }
    .cart-selections-title{
        color: darkblue;
        text-align: center;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .amount-main-container{
        display: flex;
        gap: 200px;
        padding: 0px;
    }
    .amount-title-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-left:170px;
    }
    .amount-title-container p{
        margin: 0px;
        padding: 5px 0px;
        text-align: left;
        width: 90px;
        color: green;
    }
    .amount-container{
        display: flex;
        flex-direction: column;
        margin-right:170px;
    }
    .amount-container p{
        margin: 0px;
        padding: 5px 0px;
        text-align: left;
        width: 90px;
        color: green;
    }
    .cart-toggle-container{
        display: flex;
        gap: 200px;
        margin: 60px 0px;
        justify-content: center;
        
    }
    .cart-toggle-cart-in{
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 100%;
        background-color: lightblue;
        cursor: pointer;
    }
    .cart-toggle-checkout-out{
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer
    }
    .cart-toggle-cart-out{
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer
    }
    .cart-toggle-chechout-in{
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 100%;
        background-color: lightblue;
        cursor: pointer;
    }

    .foodcartMapped{
        display: flex;
        background: #D9D9D9;
        box-shadow: 0px 0px 20px 0px #DA722C;
        margin: 5px 100px;
        gap: 15px;
        
        border-radius: 10px;
    }
    .increaseCartNumb{
        width: 22px;
        height: 75px;
        background-color: #DA722C;
        margin-top: 15.05px;
        margin-left: 35.87px;
        margin-bottom: 15.05px;
    }
    .increaseNumb{
        color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .increaseBtn{
        cursor: pointer;
        color: rgb(248, 248, 249);
        background-color: darkblue;
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        margin: 0px;
        padding: 1px;
    }
    .foodcartInfomation{
        display: flex;
        gap: 5px;
        width: fit-content;
        height: 85px;
        margin-top: 7.5px;
    }
    .foodcartInfomation p{
       
        width: 120px;
        font-family: raleway;
        font-size: 15px;
        color: darkblue;
    }
    .foodcartMappedImage{
        width: 80px;
        height: 80px;
        
    }
    .foodcartMappedAmount{
        font-size: large;
        font-family: raleway;
    }
    .Xbutton{
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        margin-right: 10px;
    }
    label{
        font-size: 20px;
        
    }
    form input{
        text-align: center;
    }
}