
.navcontainer{
    color: #FFF;
    display: flex;
    flex-direction: row;
    padding-left: 182px;
    padding-right: 234px;
    padding-top: 22px;
}
.navcontainer nav{
    margin-left: 179px;
}
.navcontainer nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0px 20px
}
.navcontainer nav ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}

.navcontainer nav ul a.active{
    background-color: orange;
    border-radius: 5px;
    padding: 5px 10px;
    color: darkblue;
}
.navcontainer nav ul a:hover{
    background-color: rgb(244, 196, 108);
    border-radius: 5px;
    padding: 5px 10px;
    color: darkblue;
}
.logo{
    width: 130px;
    height: 130px;
    margin-right: 172;
    cursor: pointer;
}


