

    .navcontainer{
        color: #FFF;
        display: flex;
        flex-direction: row;
        background-color: rgb(12, 3, 37);
        position: fixed;
        z-index: 100;
        width: 1100px;
        
    }
    .navcontainer nav{
        margin-left: 0px;
    }
    .navcontainer nav ul{
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        padding: 0px 20px
    }
    .navcontainer nav ul a{
        color: white;
        list-style: none;
        text-decoration: none;
        text-align: center;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }

    .navcontainer nav ul a.active{
        background-color: orange;
        border-radius: 5px;
        padding: 2px 10px;
        color: darkblue;
    }
    .navcontainer nav ul a:hover{
        border: 2px solid;
        background-color: rgb(244, 196, 108);
        border-radius: 5px;
        padding: 0.5px 5px;
        color: darkblue;
    }
    .logo{
        width: 60px;
        height: 60px;
        margin-right: 172;
        cursor: pointer;
    }








@media screen and (min-width:900px){
    .navcontainer{
        color: #FFF;
        display: flex;
        flex-direction: row;
        padding-left: 300px;
        padding-right: 254px;
        padding-top: 0px;
        background-color: rgb(12, 3, 37);
        position: fixed;
        z-index: 100;
        width: 1100px;
    }
    .navcontainer nav{
        margin-left: 179px;
    }
    .navcontainer nav ul{
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        padding: 0px 20px
    }
    .navcontainer nav ul a{
        color: white;
        list-style: none;
        text-decoration: none;
        text-align: center;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }

    .navcontainer nav ul a.active{
        background-color: orange;
        border-radius: 5px;
        padding: 2px 10px;
        color: darkblue;
    }
    .navcontainer nav ul a:hover{
        border: 2px solid;
        background-color: rgb(244, 196, 108);
        border-radius: 5px;
        padding: 2px 10px;
        color: darkblue;
    }
    .logo{
        width: 80px;
        height: 80px;
        margin-right: 172;
        cursor: pointer;
    }
}


