.login{
    align-items: center;
    background: radial-gradient(61.32% 53.53% at 33.80% 48.98%, rgb(1, 61, 1), #01000A 100%);
}
.login-title{
    color: white;
}
.signinalert{
    color: rgba(0, 255, 0, 0.858);
}
#login-Form-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.loginFormAndButton{
    margin: 0px 30px;
}
.login-form{
    /* margin: 0px 30px; */
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
}
.login-form label{
    text-align: left;
    font-size: 16px;
    color: white;
}
.login-form input{
    padding: 10px 10px;
    text-align: left;
    outline: none;
    border-radius: 5px;
}
.login-forgot-password{
    color: white;
}
.login-options{
    color: white;
}

.login-option-picture{
    width: fit-content;
    align-self: center;
    
    font-size: 40px;
}
.login-button{
    width: 100%;
    align-self: center;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-family: Raleway;
    padding: 5px 0px;
    border-radius: 5px;
}
.sign-up-button div a{
    color: rgb(248, 125, 248);
}
.login-container img{
    border-radius: 100%;
}
.login-container P{
    font-weight: bold;
}

@media screen and (min-width:900px){
    .login{
        display: flex;
        justify-content: center;
        background: radial-gradient(61.32% 53.53% at 33.80% 48.98%, rgb(1, 61, 1), #01000A 100%);
    }
    .login-title{
        color: darkgreen;
    }
    #login-Form-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 110px 0px;
        /* max-width: 90%; */
        min-width: 40%;
        background-color: white;
        border-radius: 10PX;
    }
    .loginFormAndButton{
        margin: 0px 40px;
    }
    .login-form{
        display: flex;
        flex-direction: column;
    }
    .login-form label{
        text-align: left;
        font-size: 16px;
        color: darkgreen;
    }
    .login-form input{
        padding: 10px 10px;
        text-align: left;
    }
    .login-forgot-password{
        color: darkgreen;
    }
    .login-options{
        color: darkgreen;
    }
    .login-button{
        width: 100%;
        align-self: center;
        background-color: orange;
        color: white;
        font-size: 18px;
        font-family: Raleway;
        border-radius: 5px;
        padding: 5px 0px;
    }
    .sign-up-button p{
        color: darkgreen;
    }
    .login-option-picture{
        width: fit-content;
        align-self: center;
        
        font-size: 40px;
    }
    .sign-up-button div{
        color: blue;
        cursor: pointer;
    }
}